

<div class="container">


    <div class="row">
            <div class="col-1"></div>
            <div class="col-10">

                <div class="row">
                    <mat-toolbar color="primary" >    
                      <span>Registra Sala</span>    
                    </mat-toolbar>  
              </div>
                    <form class="content"  id="idFormModalidad" [formGroup]="formsRegistra" >
                            
                        <div class="submit-form">
  
                            <div class="row" style="margin-top: 25px;">
                              <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                  <mat-form-field class="col-md-8">
                                    <mat-label>Número</mat-label>
                                    <input matInput [(ngModel)]="objSala.numero" formControlName="validaNumero" name="numero">
                                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaNumero.touched">
                                      <span *ngIf="formsRegistra.controls.validaNumero.hasError('required')">
                                        El Número es requerido
                                      </span>
                                      <span *ngIf="formsRegistra.controls.validaNumero.hasError('pattern')">
                                        El Número es 1 a 50 caracteres
                                      </span>
                                    </mat-hint>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                  <mat-form-field class="col-md-8">
                                    <mat-label>Piso</mat-label>
                                    <input matInput [(ngModel)]="objSala.piso" formControlName="validaPiso" name="piso">
                                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaPiso.touched">
                                      <span *ngIf="formsRegistra.controls.validaPiso.hasError('required')">
                                        El Piso es requerido
                                      </span>
                                      <span *ngIf="formsRegistra.controls.validaPiso.hasError('pattern')">
                                        El Piso es 1 a 50 caracteres
                                      </span>
                                    </mat-hint>
                                  </mat-form-field>
                                </div>
                                <div class="form-group">
                                  <mat-form-field class="col-md-8">
                                    <mat-label>Número Alumnos</mat-label>
                                    <input matInput [(ngModel)]="objSala.numAlumnos" formControlName="validaNumAlumnos" name="numAlumnos">
                                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaNumAlumnos.touched">
                                      <span *ngIf="formsRegistra.controls.validaNumAlumnos.hasError('required')">
                                        El Número de Alumnos es requerido
                                      </span>
                                      <span *ngIf="formsRegistra.controls.validaNumAlumnos.hasError('pattern')">
                                        El Número de Alumnos 1 a 50 caracteres
                                      </span>
                                    </mat-hint>
                                  </mat-form-field>
                                </div>
                  
                                <div class="form-group">
                  
                  
                                  <mat-form-field class="col-md-8">
                                    <mat-label>Recursos</mat-label>
                                    <input matInput [(ngModel)]="objSala.recursos" formControlName="validaRecursos" name="recursos">
                                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaRecursos.touched">
                                      <span *ngIf="formsRegistra.controls.validaRecursos.hasError('required')">
                                        El Recurso es requerido
                                      </span>
                                      <span *ngIf="formsRegistra.controls.validaRecursos.hasError('pattern')">
                                        El Recurso es de 3 a 30 caracteres
                                      </span>
                                    </mat-hint>
                                  </mat-form-field>
                                </div>
                                
                                <div class="col-sm-12 col-md-6">
                                 <!--Combo sede-->
                                 <mat-form-field class="col-md-4 redirimensionar">
                                <mat-label>Sede</mat-label>
                                <mat-select  [(ngModel)]="objSala.sede!.idDataCatalogo" formControlName="validaSede" name="idTipoSesde" >
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option  *ngFor="let x of lstsede"  [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                                    </mat-option> 
                                </mat-select>
                                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaSede.touched" >
                                    <span *ngIf="formsRegistra.controls.validaSede.hasError('min')">
                                        La sede es requerido
                                    </span>
                                </mat-hint>  
                            </mat-form-field> 
                            </div>
                
                            <div class="col-sm-12 col-md-6">
                                <!--Combo sala-->
                                <mat-form-field class="col-md-4 redirimensionar">
                                <mat-label>Sala</mat-label>
                                <mat-select  [(ngModel)]="objSala.tipoSala!.idDataCatalogo" formControlName="validaTipoSala" name="idSala" >
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option  *ngFor="let x of lstsala"  [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                                    </mat-option> 
                                </mat-select>
                                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaTipoSala.touched" >
                                    <span *ngIf="formsRegistra.controls.validaTipoSala.hasError('min')">
                                        El sala es requerida
                                    </span>
                                </mat-hint>  
                            </mat-form-field> 
                            </div>
                              </div>
                              
                            </div>
                          </div>

                            <div class="row" style="margin-top: 3%">
                                    <div class="col-lg-12">
<!--                                                 <button class="btn btn-success">Enviar</button>
-->
                                            <button mat-raised-button 
                                            type="submit" 
                                            color="primary" 
                                            (click)="registra()"  
                                            [disabled]="formsRegistra.invalid"
                                            [mat-dialog-close]="1">
                                            Enviar
                                    </button>
                                    <button mat-button 
                                    (click)="onNoClick()"
                                    color="primary"
                                    mat-stroked-button color="primary">
                                    Salir
                            </button>
                                    </div>
                            </div>

                    </form>

            </div>
    </div>
</div>