<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <mat-toolbar color="primary">
          <span>Registro de Alumno</span>
        </mat-toolbar>
      </div>

      <form class="content" [formGroup]="formRegistra">
        <div class="submit-form">
          <div class="row" style="margin-top: 25px;">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Nombres</mat-label>
                    <input matInput type="text" name="nombres" id="nombres" [(ngModel)]="Alumno.nombres" formControlName="nombres" />
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="formRegistra.controls.nombres.touched">
                      <span *ngIf="formRegistra.controls.nombres.hasError('required')">
                        El Nombre es requerido.
                      </span>
                      <span *ngIf="formRegistra.controls.nombres.hasError('pattern')">
                        De 3 a 30 caracteres.
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" name="apellidos" id="apellidos" [(ngModel)]="Alumno.apellidos" formControlName="apellidos" />
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="formRegistra.controls.apellidos.touched">
                      <span *ngIf="formRegistra.controls.apellidos.hasError('required')">
                        El Apellido es requerido.
                      </span>
                      <span *ngIf="formRegistra.controls.apellidos.hasError('pattern')">
                        De 3 a 30 caracteres.
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="text" id="telefono" name="telefono" [(ngModel)]="Alumno.telefono" formControlName="telefono" />
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="formRegistra.controls.telefono.touched">
                      <span *ngIf="formRegistra.controls.telefono.hasError('required')">
                        El Teléfono es requerido.
                      </span>
                      <span *ngIf="formRegistra.controls.telefono.hasError('pattern')">
                        El Teléfono debe tener 9 dígitos.
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>DNI</mat-label>
                    <input matInput type="text" id="dni" name="dni" [(ngModel)]="Alumno.dni" formControlName="dni" />
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="formRegistra.controls.dni.touched">
                      <span *ngIf="formRegistra.controls.dni.hasError('required')">
                        El DNI es requerido.
                      </span>
                      <span *ngIf="formRegistra.controls.dni.hasError('pattern')">
                        El DNI debe tener 8 dígitos.
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" id="correo" name="correo" [(ngModel)]="Alumno.correo" formControlName="correo" />
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="formRegistra.controls.correo.touched">
                      <span *ngIf="formRegistra.controls.correo.hasError('required')">
                        El Correo es requerido.
                      </span>
                      <span *ngIf="formRegistra.controls.correo.hasError('pattern')">
                        Formato: ejemplo@ejemplo.com
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field style="width: 213px;">
                    <mat-label>Fecha Nac.</mat-label>
                    <input name="fechaNacimiento" [(ngModel)]="Alumno.fechaNacimiento" formControlName="fechaNacimiento" matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint style="color:red" *ngIf="formRegistra.controls.fechaNacimiento.touched">
                      <span *ngIf="formRegistra.controls.fechaNacimiento.hasError('required')">
                        La Fecha es requerida.
                      </span>
                      <span *ngIf="formRegistra.controls.fechaNacimiento.hasError('pattern')">
                        No superior a hoy.
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>País</mat-label>
                    <mat-select id="pais" name="pais" [(ngModel)]="Alumno.pais!.idPais" formControlName="pais">
                      <mat-option value="-1">[Seleccione]</mat-option>
                      <mat-option *ngFor="let x of paises" [value]="x.idPais">
                        {{ x.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="!(formRegistra.controls.pais.errors == null) && formRegistra.controls.pais.touched">
                      El País es requerido.
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Modalidad</mat-label>
                    <mat-select id="modalidad" name="modalidad" [(ngModel)]="Alumno.modalidad!.idDataCatalogo" formControlName="modalidad">
                      <mat-option value="-1">[Seleccione]</mat-option>
                      <mat-option *ngFor="let x of modalidades" [value]="x.idDataCatalogo">
                        {{ x.descripcion }}
                      </mat-option>
                    </mat-select>
                    <mat-hint style="color:red; white-space: nowrap;" *ngIf="!(formRegistra.controls.modalidad.errors == null) && formRegistra.controls.modalidad.touched">
                      La Modalidad es requerida.
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                  <button mat-raised-button type="submit" color="primary" (click)="registra()" [disabled]="formRegistra.invalid" [mat-dialog-close]="1">Enviar</button>
                  <button mat-button (click)="cancelar()"color="primary"mat-stroked-button color="primary">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
